altgraph==0.17
certifi==2019.9.11
chardet==3.0.4
docutils==0.15.2
entrypoints==0.3
flake8==3.7.9
future==0.18.2
idna==2.8
Kivy==1.11.1
kivy-deps.angle==0.1.9
kivy-deps.glew==0.1.12
kivy-deps.gstreamer==0.1.17
kivy-deps.sdl2==0.1.22
Kivy-examples==1.11.1
Kivy-Garden==0.1.4
mccabe==0.6.1
pefile==2019.4.18
pycodestyle==2.5.0
pyflakes==2.1.1
pygame==1.9.6
Pygments==2.4.2
PyInstaller==3.6
pypiwin32==223
pywin32==226
pywin32-ctypes==0.2.0
requests==2.22.0
urllib3==1.25.6
virtualenv==16.7.7
virtualenvwrapper-win==1.2.5
