[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
docutils = {version = "*", sys_platform = "== 'win32'"}
pygments = {version = "*", sys_platform = "== 'win32'"}
pypiwin32 = {version = "*", sys_platform = "== 'win32'"}
kivy-deps-sdl2 = {version = "==0.1.*", sys_platform = "== 'win32'"}
kivy-deps-glew = {version = "==0.1.*", sys_platform = "== 'win32'"}
kivy = "==1.11.1"

[requires]
python_version = "3.7"

[scripts]
lint = "python -m flake8"
start = "python -m TLOA"