[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certifi = "==2019.11.28"
chardet = "==3.0.4"
docutils = "==0.16"
idna = "==2.8"
kivy-garden = "==0.1.4"
"pypiwin32" = "==223"
"pywin32" = "==227"
requests = "==2.22.0"
"urllib3" = "==1.25.7"
"kivy-deps.glew" = "==0.1.12"
"kivy-deps.sdl2" = "==0.1.23"
Kivy = "==1.11.1"
Pygments = "==2.5.2"

[requires]
python_version = "3.7"

[scripts]
start = "python -m TLOA"
