[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pre-commit = "*"
flake8-import-order = "*"
flake8-tidy-imports = "*"
flake8-annotations = "*"
coverage = "*"
flake8 = "*"

[packages]
kivy = "~=1.11"
kivy-deps-sdl2 = {version = "==0.1.*", sys_platform = "== 'win32'"}
kivy-deps-glew = {version = "==0.1.*", sys_platform = "== 'win32'"}

[requires]
python_version = "3.7"

[scripts]
firestarter = "python -m firestarter"
lint = "flake8"
precommit = "pre-commit install"
test = "coverage run -m unittest"
report = "coverage report"
