[[source]]
name = 'pypi'
url = 'https://pypi.org/simple'
verify_ssl = true

[dev-packages]
pre-commit = '*'
flake8-import-order = '*'
flake8-tidy-imports = '*'
flake8-annotations = '*'
coverage = '*'
pytest = '*'
black = "*"

[packages]
kivy = '~=1.11'
typed-ast = "*"
flake8 = "*"
importlib-metadata = "*"

[requires]
python_version = '3.7'

[scripts]
lint = 'flake8 --ignore=TYP101'
precommit = 'pre-commit install'
test = 'coverage run -m pytest'
report = 'coverage report'
run = 'python -m project.ui.root'
run_core = 'python -m project'
