[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pre-commit = "*"
flake8-bugbear = "*"
pylint = "*"

[packages]
kivy = "*"
kivy-deps-sdl2 = "*"
kivy-deps-glew = "*"

[requires]
python_version = "3.7"

[scripts]
lint = "python -m flake8"
precommit = "pre-commit install"
start = "python -m rex_explorer"
