[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pre-commit = "*"
flake8-bugbear = "*"

[packages]
kivy = "*"

[requires]
python_version = "3.7"

[scripts]
lint = "python -m flake8"
precommit = "pre-commit install"
